<div class="row">
    <div class="simulation-side-nav">
        <dl class="accordion" data-accordion>
            <dd>
                <a href="#reaction_rates" data-src="">Reactions Simulation</a>
                <div id="reaction_rates" class="content">
                    <ul id="" class="side-nav">
                        <li><a href="#/reactions/chemical" data-src="">Chemical Reactions Simulation</a></li>
                        <li><a href="#/reactions/bioxidation" data-src="">Bioxidation Reactor Simulation</a></li>
                    </ul>
                </div>
            </dd>

            <dd>
                <a href="#reactor_simulation" data-src="">Reactor Simulations</a>
                <div id="reactor_simulation" class="content">
                    <ul id="" class="side-nav">
                        <li><a href="#/reactors/chemical">Chemical CSTR Simulation</a></li>
                        <li><a href="#/reactors/bioxidation">Bioxidation CSTR Simulation</a></li>
                        <li><a href="#/system/tanks_in_series">Tanks In Series Simulation</a></li>
                        <li><a href="#/system/closed_cyclic">Closed Cyclic</a></li>
                        <li><a href="#/reset">Reset</a></li>
                    </ul>
                </div>
            </dd>
        </dl>
    </div>
</div>

<!-- <div class="simulation-side-nav">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#reactor_simulation">
                        Reaction Simulations
                    </a>
                </h4>
            </div>

            <div id="reactor_simulation" class="panel-collapse collapse in">
                <div class="panel-body">
                    <ul id="" class="side-nav">
                        <li><a href="#/reactors/chemical" data-src="">Chemical CSTR Simulation</a></li>
                        <li><a href="#/reactors/bioxidation" data-src="">Bioxidation CSTR Simulation</a></li>
                        <li><a href="#/system/tanks_in_series" data-src="">Tanks In Series Simulation</a></li>
                        <li><a href="#/reset" data-src="">Reset</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->
