// @import "bourbon";
// @import "neat";
// @import "compass/layout";

.loading{
    position:absolute;
    left:0;
    top:0;
    width:100%;
    min-height:100%;
    background: rgba($light-grey, 0.8) url(/static/img/ajax-loader.gif) center no-repeat;
    z-index:100;
    display:block
}
