#layout {
    top: 45px;
    right:0px;
    @include grid-column(10);
    float:right;
}


// %border-black {
//     border: 1px solid black;
// }

// #summary-container{
//     @extend %border-black;
// }

// #bioxidation-container{
//     @extend %border-black;
// }

// #chemical-container{
//     @extend %border-black;
// }

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: block;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
