{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
    <div class="loading"></div>
    {% include "display/includes/simulation-side-nav.html" %}
    <div id="layout"></div>
    <div id="graph-container"></div>

    <!-- <div class="graph-container">
        <div class="row">
            <div id="summary-container"></div>
        </div>

        <div class="row">
            <div id="bioxidation-container"></div>
        </div>

        <div class="row">
            <div id="chemical-container" class=""></div>
        </div> -->


        <!-- <div id="reactor-carousel" class="carousel slide" data-ride="carousel">

            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>
            <div class="carousel-inner">
                <div class="item">
                    <div class="row">
                        <div id="summary-container"></div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div id="bioxidation-container"></div>
                    </div>
                </div>

                <div class="item">
                    <div class="row">
                        <div id="chemical-container" class=""></div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="orbit-container">
            <ul class="ceber-orbit-content" data-orbit>
                <li data-orbit-slide="headline-1">
                    <div id="summary-container"></div>
                </li>
                <li data-orbit-slide="headline-2">
                    <div id="bioxidation-container"></div>
                </li>
                <li data-orbit-slide="headline-3">
                    <div id="chemical-container"></div>
                </li>
            </ul>

            <a class="orbit-prev">Prev <span></span></a>
            <a class="orbit-next">Next <span></span></a>
        </div> -->

        <!-- <div id="graph-data" class="large-4 columns">
            <script type="text/template" id="draw-table">
                <table>
                    <thead>
                        <tr>
                            <th>step</th>
                            <th>Copper</th>
                            <th>Ferric</th>
                        </tr>
                    </thead>

                    <tbody>
                        <% _.each(data, function(data) { %>
                          <tr>
                            <td><%= data.step %></td>
                            <td><%= data.cstr_data.components.component_conc %></td>
                            <td><%= data.flow_out.components.ferrous %></td>
                          </tr>
                        <% }); %>

                    </tbody>
                </table>
            </script>
        </div>
            </div> -->
{% endblock content %}
